{% extends 'fut_blog/base1.html' %}

{% block contenido %}

<h1>Acerca de mi</h1>

<p>
    Mi nombre es Sandro Agnolazza, tengo 34 años, soy Ingeniero Químico, recibido en 2012 en la Universidad Nacional del Sur (UNS).
    Actualmente estoy buscando hacer un cambio en mi vida profesional, y por este motivo fué que surgió la idea de hacer el curso de Programación en Python.
</p>
<p>
    Como parte del Proyecto Final del curso realizado en Coderhouse, se nos ha solicitado desarrollar una aplicación web, basándonos y ayudandonos del framework django.
    Por tal motivo se me ocurrió unir mi gran pasión, el fútbol, con lo que podría llegar a ser mi nueva pasión o actividad profesional, la programación.
</p>
<p>
    Es por esto que he desarrollado mi aplicación llamada fut_blog, la cuál permite a los usuarios compartir información general sobre futbol, eventos más importantes, sus deportistas favoritos, los hechos mas importantes de este deporte, y a su vez contactarse con otros usuarios que comparten la misma pasión.
</p>
<p>
    En principio para poder hacer uso de la aplicación, se deberà contar con el link provisto por el adinistrador del blog, un link de acceso al proyecto cargado en git-hub, con el cual se debera en su pc clonar el mismo y realizar las migraciones correspondientes de los modelos para ppoder acceder a las funciones.
    Una vez realizado el paso anterior, el ususario pod´ra tener un acceso limitado en caso d no registrarse, pudiendo solo accede a la vista de los post existentes.
    Para poder hacer uso de todas las funcionalidades de la aplicación, se recomienda a los usuarios crearse una cuenta con la que podrán registrarse y aprovechar ciertas ventajas, como lo es la mensajería con otras personas e incluir comentarios en sus blogs.
    Estos usuarios podrán dar de alta su cuenta y actualizar su información cuando lo consideren necesarios, tanto datos personales como su imágen de presentación a otros usuarios.
    Además no sñolo podrán ver los post de los demás usuarios, sini que podrán crear crear sus propios posteos para compartir, actualizarlos y borrarlos en caso de considerarlo necesario.
    Tanto la funcionalidad de posteos como de mensajería tienen asociado un CRUD (creación, lectura, actualización y borrado, por sus sigrlas en ingles) completo.
</p>
{% endblock %}